.my--alert {
    left: 50%;
    width: 50%;
    position: fixed;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1000;
    border-radius: .25rem;  
    box-sizing: border-box;
    -webkit-animation-name: animate_alert; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: animate_alert;
    animation-duration: 4s;
    opacity: 0;
}

.my--alert--secon {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb; 
}

.my--alert--deger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

@-webkit-keyframes animate_alert {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes animate_alert {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.productinfo img {
    width: 255.48px;
    height: 255.48px;
}

.my--recommended-item-control-left {
    top: 0;
    transform: translateX(-40px)
}

.my--recommended-item-control-right {
    top: 0;
    transform: translateX(14px)
}

.carousel {
    position: relative;
    background-color: white;
}

.commnets 
 .media-object {
    margin-right: 15px;
    max-width: 80px;
}

.view-product img {
    height: auto;
}